/*front.css*/
header {
    text-align: center;
}
nav {
    display: flex;
    flex-direction: row;
    text-align: center;

}
 h2 {
     text-align: center;
 }

 h1 {
     text-align: center;
 }

 footer {
     text-align: center;
 }