h1 {
    text-align : left;
    padding-left : 10%;
padding-right : 10%;
}
h4 {
text-align : center;
font-size : 26px;
padding-right : 40%;
text-decoration: underline;
}
li {
    margin-left: 10%;
}
ol {
margin-left : 80%;

}

h2 {
    color :red;
    text-decoration : underline;
}
h3 {
    text-decoration: underline;
}
header {
text-align: center;
}
body {
    background-color: aliceblue;
}

 